# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
out/

# ========================
# Gradle
# ========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Maven
# ========================
target/

# ========================
# Files from IDEs
# ========================
*.swp
*~
*.tmp

# ========================
# Spring Boot
# ========================
/spring-boot-application.log

# ========================
# Liquibase
# ========================
/db/changelog/db.changelog-master.yaml.lock

# ========================
# Application secrets
# ========================
application-local.yml